<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
  <Appenders>
    <File name="file" fileName="${sys:loggerdirectory}/tamm.log">
      <PatternLayout>
        <Pattern>%d %p %c{1} %L [%t] %m %ex%n</Pattern>
      </PatternLayout>
    </File>  
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="file"/>
    </Root>
  </Loggers>
</Configuration>